<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjxu.educationapp.modules.mapper.StudentClassMapper">

    <resultMap id="BaseResultMap" type="StudentClass">
            <id property="scId" column="sc_id" />
            <result property="studentId" column="student_id" />
            <result property="classId" column="class_id" />
        <result property="status" column="status" />
    </resultMap>

    <sql id="Base_Column_List">
        sc_id,student_id,class_id, status
    </sql>
</mapper>
