<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjxu.educationapp.modules.mapper.StuHomeworkMapper">

    <resultMap id="BaseResultMap" type="com.zjxu.educationapp.modules.entity.StuHomework">
            <result property="homeworkId" column="homework_id" />
            <result property="subjectId" column="subject_id" />
            <result property="userId" column="user_id" />
            <result property="completeAndCorrect" column="complete_and_correct" />
            <result property="studentContent" column="student_content" />
            <result property="submitTime" column="submit_time" />
            <result property="score" column="score" />
            <result property="correctTime" column="correct_time" />
    </resultMap>

    <sql id="Base_Column_List">
        homework_id,subject_id,user_id,complete_and_correct,student_content,submit_time,
        score,correct_time
    </sql>
    <select id="selectUnComplete" resultType="com.zjxu.educationapp.modules.entity.StuHomework">
            SELECT homework_id, subject_id, user_id, complete_and_correct,
            student_content, submit_time, score, correct_time
            FROM stu_homework
            WHERE user_id=#{userId}
            AND complete_and_correct=1
            <if test="subjectId!=null">
                AND subject_id=#{subjectId}
            </if>
            ORDER BY (SELECT dead_time FROM teach_homework WHERE homework_id = stu_homework.homework_id) ASC
    </select>




</mapper>
